*{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: whitesmoke;
    color: black;
    display: flex;
    padding: 0px 15px;
}

.leftside span {
    padding-top: 30px;
    font-size: large;
}

.rightside span{
    padding: 30px;
    font-size: x-large;
    gap: 20px;
}

h2{
    padding-top: 0;
    font-size: 75px;
    font-style: oblique;
    color: red;
}

.info{
    font-size: large;
}

.logo{ 
    padding: 20px;
}

#q1{
    background-color: red; 
    font-size: 40px;
    font-weight: 200;
    color: white;
}

#q2{
    background-color: white;
    font-size: 40px;
    color: red;
    font-weight: 200; 
}
} 

.nextstep{
    display: flex;
}